<div class="row">
  <div class="col-sm-6">
    <ul class="list-unstyled">
      <% @houses.each do |house| %>
        <li class="card">
          <div class="card-body">
            <div>募集者　：<%= link_to house.user.name, user_path(house.user) %></div>
            <div>投稿日　：<%= house.created_at %></div>
            <div>タイトル：<%= link_to house.title, house_path(house.id) %></div>
          </div>
        </li>
      <% end %>
      <%= paginate @houses %>
    </ul>
  </div>
</div>