<%# render 'houses', houses: @houses %>
<div class="row">
  <div class="col-lg-6">
    <a href="#" class="card text-center">
      <div class="card-block">
        <h5 class="card-title">みんなの</h5>
        <h1 class="card-title">募集一覧</h1>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <a href="#" class="card text-center">
      <div class="card-block">
        <h5 class="card-title">私の</h5>
        <h1 class="card-title">募集一覧</h1>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <a href="#" class="card text-center">
      <div class="card-block">
        <h5 class="card-title">私の</h5>
        <h1 class="card-title">お気に入り</h1>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <a href="#" class="card text-center">
      <div class="card-block">
        <h5 class="card-title">私が</h5>
        <h1 class="card-title">申請した</h1>
        <h1 class="card-title">募集一覧</h1>
      </div>
    </a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <a href="#" class="card text-center">
      <div class="card-block">
        <h5 class="card-title">私の</h5>
        <h1 class="card-title">自己紹介</h1>
      </div>
    </a>
  </div>
</div>
<br>