<div class="row">
  <div class="col-xl-12">
    <div class="move">
      <div class="topic1">
        <a href="houses/new">同居人を募集する</a>
        <%# link_to '同居募集の新規作成', new_house_path これでもいく%>
      </div>
    </div>
  </div>

  <div class="col-xl-5">
    <div class="move">
      <div class="topic2">
        <a href="houses">募集一覧</a>
      </div>
    </div>
  </div>

  <div class="col-xl-7">
    <div class="move">
      <div class="topic3">
        <a href="/users/:id/index">私が作成した<br>募集</a>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="move">
      <div class="topic4">
        <a href="/users/:id/request">同居リクエストした募集</a>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="move">
      <div class="topic5">
        <a href="/users/:id/like">お気に入り</a>
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <div class="move">
      <div class="topic6">
        <%= link_to 'Myプロフィール', "/users/#{current_user.id}" %>
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="move">
      <div class="topic7">
        <a href="/todolist">【toDo】増設すべき機能</a>
      </div>
    </div>
  </div>

</div>