<div class="h3 text-center badge-info  badge-pill my-5">増設すべき機能</div>
<div class="h2 mt-4">【1】 リクエストが許可された時に申請者に通知が届くようにする。</div>
<div class="h2 mt-4">【2】 マッチングした時に募集者と申請者の2名だけのチャットルームを設置する。</div>
<div class="h2 mt-4">【3】 家の画像を添付できる機能。</div>
<div class="h2 mt-4">【4】 家の周辺地図を添付できる機能、GoogleAPIを活用。</div>
<div class="h2 mt-4">【5】 各ユーザーのアイコン。インスタグラムとの連携。</div>