<div class="row">
  <div class="col-lg-6">
    <div class="center jumbotron">
      <div class="text-center">
        <h1>Welcome</h1><br>
        <h1>to the</h1><br>
        <h4>シェアハウス</h4>
        <h4>マッチングアプリ</h4>
      </div>
    </div>
    <div class="text-center">
        <%= link_to '新規登録はこちら！', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>